<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PTrucks</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- activmap CSS -->
    <link rel="stylesheet" href="~/css/activmap-compact.css">
    <!-- site's custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <!-- ... navigation bar, body content, etc. ... -->
    <!-- jQuery - Make sure this comes first before other scripts that depend on it -->
    <script src="~/lib/jquery/dist/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.js"></script>
    <!-- activmap JS -->
    <script src="~/js/jquery-activmap.min.js"></script>
    <!-- site's custom JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- if additional scripts to render -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
